## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.vsidx
*.vssscc
*.suo
*.user
*.userosscache
*.sln.docstates

## Publish
publish/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Temporary files
*.tmp
*.temp
~$*
